/* Here is your custom css styles. */

/*
@font-face{
    font-family: 'bodyFont';
    src: url('../font/SourceHanSerifCN-Regular.ttf');
}


@font-face{
    font-family: 'navFont';
    src: url('../font/jianqiti.ttf');
}

body{
    font-family: 'bodyFont';
}

nav {
    font-family: 'navFont';
}
*/

/*
body {
    font-family: "Songti SC", SimSun,"宋体","仿宋", "微软雅黑","黑体";
}
*/